@import '../../variables';

.two-three-ratio {
  @include aspect-ratio(2, 3);
}

.back-logo {
  margin-bottom: 18%;
  font-size: 14px;
  width: 80%;
}

.poker-back {
  background-color: $poker-normannic;
}

.poker-back-conf {
  margin: 7%;
  border: 0.025em solid rgba(16, 41, 74, 0.1) ;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.common-back-style {
  @include display-center();
}

.poker-back {
  .poker-back-conf {
    border: 0.013em solid rgba(16, 41, 74, 0.1)
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .show-big-poker {
    .two-three-ratio {
      > .poker {
        border-radius: 0;
      }
    }
  }
}

.back-cloudtrust-logo {
  width: 100%;
  margin-bottom: 5.4%
}

.back-cloudtrust-text {
  width: 100%;
}