$base-andromeda-color: #10294a;
$base-foundation-color: #fff;

$poker-normannic: #f85e5d;
$poker-bonde: #fb8c00;
$poker-arcturus: #fbc02d;
$poker-sirius: #46be8a;
$poker-daribow: #26c6da;
$poker-steffani: #42a5f5;
$poker-langano: #7e57c2;


$border-radius-out: 10%;
$border-radius-in: 10%;

@mixin aspect-ratio($width, $height) {
  $outer-border-radius-x: (($height /($height + $width)) * $border-radius-out);
  $outer-border-radius-y: (($width /($height + $width)) * $border-radius-out);
  $inner-border-radius-x: (($height /($height + $width)) * $border-radius-in);
  $inner-border-radius-y: (($width /($height + $width)) * $border-radius-in);
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .poker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: $outer-border-radius-x $outer-border-radius-y;
    border-top-left-radius: $outer-border-radius-x $outer-border-radius-y;
    border-bottom-right-radius: $outer-border-radius-x $outer-border-radius-y;
    border-bottom-left-radius: $outer-border-radius-x $outer-border-radius-y;
  }
  .poker-back-conf {
    border-top-right-radius: $inner-border-radius-x $inner-border-radius-y;
    border-top-left-radius: $inner-border-radius-x $inner-border-radius-y;
    border-bottom-right-radius: $inner-border-radius-x $inner-border-radius-y;
    border-bottom-left-radius: $inner-border-radius-x $inner-border-radius-y;
  }
  .poker-front-conf {
    border-top-right-radius: $inner-border-radius-x $inner-border-radius-y;
    border-top-left-radius: $inner-border-radius-x $inner-border-radius-y;
    border-bottom-right-radius: $inner-border-radius-x $inner-border-radius-y;
    border-bottom-left-radius: $inner-border-radius-x $inner-border-radius-y;
  }
}


@mixin display-center() {
  display: -webkit-flex;
  text-align: -webkit-center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}